@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&display=swap");
@import "tailwindcss";

#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  background: url("textures/IMG_4964.jpg") no-repeat center center fixed;
  background-size: cover;
}

.outline-text {
  -webkit-text-stroke: 1px white;
}
